body {
    background-color: #262626;
}

/* navArea */
.navArea {
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    background-color:rgba(255,255,255,0.8);
}

.gototop{
    text-decoration:none;
    color: black;
}

.gototop:hover {
    text-decoration:none;
    color: black;
}

/* header */
.headerArea {
    display: flex;
    flex-direction: column;
    height: 250px;
    background-image: url('./imgs/unnamed.png');
    /* background-size: cover; */
    background-size: 100%;
    background-position: 150px 20%;
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
}

.headerTextArea {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 100%;
}
.headerText {
    font-size: 50px;
}

/* contentArea */
.contentArea {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.content1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content1Text {
    width: 70%
}
.contentImg {
    background-image: url('./imgs/unnamed.png');
    background-size: cover;
    height: 150px;
    width: 150px;
}


.test {
    background-color: aqua;
}

